.Test{
display: flex;
}

.regularWorld{
    background-image: url('/images/forest_normal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    mask-image: url('/images/vineSeq.png');
    mask-repeat: no-repeat;
    mask-size: calc(100% * 83) 100%;
    position: absolute;
}
.upsideDownWorld {

    background-image: url('/images/forest_upsideDown.jpg');
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;

}
