.Test{
display: flex;
}

.sprite-transition {
	background: url('/images/sprite.png') no-repeat -9999px -9999px;
	background-size: 0;
}

// .demo-1 .page-view {
// 	background: url(../img/nature-sprite-2.png) no-repeat -9999px -9999px;
// 	background-size: 0;
// }
.regularWorld{
    // background-color: #fff;
    // background-image: url('/images/forest_normal.jpg');
    // height: 100vh;
    // width: 100vw;
    // position: absolute;

    background-color: #fff;
    background-image: url('/images/forest_normal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    mask-image: url('/images/sprite.png');
    mask-repeat: no-repeat;
    mask-size: calc(100% * 23) 100%;
    position: absolute;
}
.upsideDownWorld {

    background-color: #fff;
    background-image: url('/images/forest_upsideDown.jpg');
    background-position: center;
    // background-image: url('/images/forest_normal.jpg');
    height: 100vh;
    width: 100vw;
    position: absolute;


    // background-color: #fff;
    // background-image: url('/images/forest_upsideDown.jpg');
    // height: 100vh;
    // width: 100vw;
    // mask-image: url('/images/sprite.png');
    // mask-repeat: no-repeat;
    // mask-size: calc(100% * 23) 100%;
    // position: absolute;

}